@import "tailwindcss";

@layer utilities {
  /* Thin elegant dark cyber scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 9999px;
    border: 1.5px solid #000000;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ef4444;
  }

  /* Utility to hide standard scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Exquisite smooth scroll selection styling */
  * {
    scroll-behavior: smooth;
  }
}